/*general layaout*/
.bg-images{background-image:url("../imagenes/Login/wallpaperLogin.jpg") ;}
.bg-negro{background-color: rgba(36, 4, 88, 0.657);}
.bg-listar{background-image: url("../imagenes/fondolistar.png");}
.bg-opacity{opacity: 95%;}
.btn-purple{background-color: purple;}

/*Estilo de anadir*/
.bg-anadir{ background-color:  #3b291a;}
.bg-anadirImage{
    background-image: url("../imagenes/slam-dunk-hanamichi-sakuragi-papel-pintado-1920x1080_48.jpg");
    background-position: top;
}
.color-anadir{color: #e6e0d6;}

.tabla-color{color: #953c20;}
.bg-tablaAnadir{ background-color:  #ddba88;}

/*Estilo de Borrar*/
.bg-borrar{ background-color:#4b516d;}
.bg-borrarImage{
    background-image: url("../imagenes/fondoborrar.jpg");
    background-position: top;
}
.color-borrar{color:#dfdbd8;}

.tabla-borrar{color:#e64133;}
.bg-tablaBorrar{ background-color:#232529;}