/*general layaout*/
.bg-images{background-image:url("../imagenes/Login/wallpaperLogin.jpg") ;}
.bg-negro{background-color: rgba(36, 4, 88, 0.657);}
.bg-listar{background-image: url("../imagenes/fondolistar.png");}
.bg-opacity{opacity: 95%;}