/*general layaout*/
.bg-images{background-image:url("../imagenes/Login/wallpaperLogin.jpg") ;}
.bg-negro{background-color: rgba(36, 4, 88,1);}
color-negro{color:rgba(36, 4, 88,1) }
.bg-listar{background-image: url("../imagenes/fondolistar.png");}
.bg-opacity{opacity: 95%;}
.btn-purple{background-color: purple;}

/*Estilo de registro*/
.bg-registro{background-color: #a88a06;}
.bg-imageRegistro{background-image: url("../imagenes/Wallpaper_Registro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Estilo de CRUD*/
.bg-tablaCrud{background-color: #690d9e;}
.bg-fondoCrud{background-color: #330b5b;}
.color-texto{color: #198f9c;}
.bg-usuario{background-color: #4c0459;}
.bg-alertas{background-color: #8204a4 }

p,th,td,a{
    font-size: 1.2em   
}

.bg-fondoCrudImagen{background-image: url("../imagenes/Wallpaper_CRUD.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.btn-color{background-color:#170424;}